@model IEnumerable<ASS_MVC.Models.CartView>
@using ASS_MVC.Models;
@using ASS_MVC.Models;
@using Microsoft.AspNetCore.Mvc;
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Cart";
   
    User current_user = ViewBag.current_user;
}
<h1>Giỏ hàng</h1>



<div class="main_content">
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="margin-top:30px;">
                    <div class="shoping__cart__table">

                        <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                            <div class="col-md-5" style="display: flex;text-align: center; align-items: center;">

                                <h5 style="color: red;text-transform: uppercase;font-weight: 600;">Tên Sản Phẩm</h5>
                            </div>
                            <div class="col-md-1" style="align-items: center;display: flex;text-transform: uppercase;font-weight: 600;">
                                <span>Giá</span>

                            </div>
                            <div class="pro-qty col-md-3" style="display: flex; align-content: center;">

                                <div style="display: flex; align-items: center;text-transform: uppercase;font-weight: 600;">
                                    <span>Số lượng</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top:30px;">
                    <div class="shoping__cart__table" ng-repeat="item in listgiohang">
                        @foreach( var  item in Model)
                        {
                            <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                                <div class="col-md-5" style="display: flex;text-align: center; align-items: center;">
                                    <img src="/images/@item.Description" style="max-width: 150px ;" alt="">
                                    <h5 style="color: red; margin-left: 20px; font-size: xx-large;">@item.Name</h5>
                                </div>
                                <div class="col-md-1" style="align-items: center;display: flex;">
                                    <span>@item.Price</span>

                                </div>
                                <div class="pro-qty col-md-3" style="display: flex; align-content: center;">
                                    
                                    <div style="display: flex; align-items: center;">
                                        <a type="button" class="btn" style="margin-top: 3px; " asp-action="Decrea" asp-controller="Cart" asp-route-Id="@item.Id">-</a>
                                        <input style="text-align: center;max-height: 20px; margin-top: 9px;" class="vol_sp" type="text" value="@item.Quantity">
                                        <a type="button" class="btn" style="margin-top: 3px; " asp-action="Increa" asp-controller="Cart" asp-route-Id="@item.Id">+</a>
                                    </div>
                                    
                                    @{
                                        var time_price = item.Price * item.Quantity;
                                        
                                    }
                                </div>
                                <div class="col-md-2" style="display: flex; align-items: center;">@time_price</div>
                                <div class="col-md-1" style="display: flex; align-items: center; margin-top: 5px;">
                                    <button type="button" class="btn btn-danger " >
                                        <a asp-action="Delete" asp-controller="Cart" asp-route-Id="@item.Id">
                                            <i style="font-size: xx-large;color:white" class="fa fa-trash" aria-hidden="true"></i> 
                                        </a>
                                    </button>
                                </div>
                            </div>
                        }
                        
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-5">
                    <div class="shoping__continue">
                        <div class="shoping__discount">
                            <h5>Mã Giảm Giá</h5>
                            <form action="#">
                                <input style="height: 45px;" type="text" >
                                <button type="submit" class=" btn btn-danger">Áp Dụng Mã</button>
                            </form>
                        </div>
                    </div>
                    <div class="shoping__checkout" style="display: flex; justify-content: start;">
                        <div class="row">
                            <div>
                                <h5>Tổng Giỏ Hàng</h5>
                                <span>Trước Giảm Giá: <b>@Model.Sum(c=>c.Price*c.Quantity)</b></span>
                                <br>
                                        <span>Sau Giảm giá: <b>@Model.Sum(c=>c.Price*c.Quantity)</b></span>
                            </div>

                            <a asp-action="CreateBill" asp-controller="Bill" asp-route-Product_incart="@JsonConvert.SerializeObject(Model)">
                                <button type="button" class="btn btn-danger ">
                                    Thanh Toán
                                </button>
                            </a>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </section>

</div>
